.toast{
    position:fixed;
    text-align: center;
    bottom :100px; 
    left:50%; 
    background-color: #0284c7;
    color: white;
    font-weight: bold;
    transform:translateX(-50%); 
    width:80%;
    padding:10px 14px; 
    border-radius:8px; 
    box-shadow:0 6px 22px rgba(2,6,23,0.6); 
    z-index: 9999;
}